{% extends "network/layout.html" %}

{% block body %}

<script>

    function toggleFollow(id) {
        const followButton = document.querySelector(`#follow-button-${id}`) || document.querySelector(`#unfollow-button-${id}`);
        const followers = document.querySelector(`#follower-count-${id}`);

        fetch(`/followToggle/${id}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.is_following) {
                followButton.innerHTML = "Unfollow";
                followButton.id = `unfollow-button-${id}`;
                followButton.className = "btn btn-danger"
                followers.innerHTML = `Followers: ${data.follower_count}`;
                followButton.onclick = () => toggleFollow(id);
            } else {
                followButton.innerHTML = "Follow";
                followButton.id = `follow-button-${id}`;
                followButton.className = "btn btn-primary"
                followers.innerHTML = `Followers: ${data.follower_count}`;
                followButton.onclick = () => toggleFollow(id);
            }
        })
    }

    function validatePost() {
        const textArea = document.getElementById('new-post-content');
        const content = textArea.value;

        if (content === "") {
            alert("Post content cannot be empty.")
            return false;
        } 
        return true;
    }
    
    //when like or unlike button is clicked
    function toggleLike(id) {
        const likeButton = document.querySelector(`#like-button-${id}`) || document.querySelector(`#unlike-button-${id}`);
        const action = likeButton.innerHTML.includes("♡") ? "like" : "unlike";
        const url = action === "like" ? `/like/${id}` : `/unlike/${id}`;

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (action === "like" && data.message === "Like added.") {
                likeButton.innerHTML = `♥︎ <span id="like-num-${id}">${data.likes}</span>`;
                likeButton.id = `unlike-button-${id}`;
                likeButton.onclick = () => toggleLike(id);

            } else if (action === "unlike" && data.message === "Like removed.") {
                likeButton.innerHTML = `♡ <span id="like-num-${id}">${data.likes}</span>`;
                likeButton.id = `like-button-${id}`;
                likeButton.onclick = () => toggleLike(id);
            }
        })
    }

    function editPost(id) {
        const editButton = document.querySelector(`#edit-button-${id}`);
        const postContent = document.querySelector(`#post-content-${id}`);
        const currentContent = postContent.innerText;

        // Store the original content in a data attribute
        postContent.setAttribute('data-original-content', currentContent);

        postContent.innerHTML = `
            <textarea id="edit-textarea-${id}" class="post-control">${currentContent}</textarea>
            <button id="edit-save-${id}" class="btn btn-primary" onclick="saveEdit(${id})">Save</button>
            <button id="edit-cancel-${id}" class="btn btn-primary" onclick="cancelEdit(${id})">Cancel</button>`;

        editButton.style.display = 'none';
    }

    function saveEdit(id) {
        const textArea = document.querySelector(`#edit-textarea-${id}`);
        const newContent = textArea.value;

        fetch(`/edit/${id}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'content': newContent
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Changes saved.") {
                const postContent = document.querySelector(`#post-content-${id}`);
                postContent.innerHTML = data.content;

                const editButton = document.querySelector(`#edit-button-${id}`);
                editButton.style.display = 'inline';
            } else {
                alert(data.message);
            }
        })
    }

    function cancelEdit(id) {
        const postContent = document.querySelector(`#post-content-${id}`);
        const editButton = document.querySelector(`#edit-button-${id}`);

        // Retrieve the original content from the data attribute
        const originalContent = postContent.getAttribute('data-original-content');

        postContent.innerHTML = originalContent;
        editButton.style.display = 'inline';
    }

</script>

<div class="container-fluid p-3">
    <h2 class="mb-2 me-3"> {{ profile_user.username }} </h2>
        <div class="d-flex align-items-center">
            <p id="follower-count-{{ profile_user.id }}" class="mb-0 me-3">Followers: {{ follower_count }}</p>
            <p id="following-count-{{ profile_user.id }}" class="mb-0 me-3">Following: {{ following_count }}</p>

            {% if user.is_authenticated and request.user != profile_user %}
                {% if is_following %}
                    <button id="unfollow-button-{{ profile_user.id }}" class="btn btn-danger" onclick="toggleFollow('{{ profile_user.id }}')">Unfollow</button>
                {% else %}
                    <button id="follow-button-{{ profile_user.id }}" class="btn btn-primary" onclick="toggleFollow('{{ profile_user.id }}')">Follow</button>
                {% endif %}
            {% endif %}
        </div>
</div>

{% if user.is_authenticated %}
    {% if request.user == profile_user %}
    <div class="container-fluid p-3">
        <div class="card p-3" id="card-exclude">
            <h3>New Post</h3>
            <form action="{% url 'newPost' %}" method="post" onsubmit="return validatePost()">
                {% csrf_token %}
                <textarea id="new-post-content" class="post-control" name="content" placeholder=" What's on your mind?"></textarea>
                
                <div class="button">
                    <input class="btn btn-primary" type="submit" value="Post">
                </div>
            </form>
        </div>
    </div>
    {% endif %}
{% endif %}


{% for post in posts %}
    <div class="container-fluid p-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">{{ post.user }}</h4>

                {% if user.is_authenticated %}
                    {% if request.user == post.user %}
                        <button class="btn btn-link p-0" id="edit-button-{{ post.id }}" onclick="editPost('{{ post.id }}')">Edit</button>
                    {% endif %}
                {% endif %}

                <div id="post-content-{{ post.id }}" class="card-text">{{ post.content }}</div>
                <p class="card-text" id="timestamp">{{ post.timestamp }}</p>

                {% if user.is_authenticated %}
                    <button class="button" 
                            id="{% if post.id in liked %}unlike-button-{{ post.id }}{% else %}like-button-{{ post.id }}{% endif %}" 
                            onclick="toggleLike('{{ post.id }}')">
                    
                        {% if post.id in liked %}♥︎{% else %}♡{% endif %}
                        <span id="like-num-{{ post.id }}">{{ post.likes }}</span>
                    </button>
                {% else %}
                    <p>♡ {{ post.likes }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %} 
        <p class="m-3">They haven't posted anything yet!</p>
{% endfor %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}