h4 {
    color: black;
}

.container {
    width: 100%;
}

.card {
    transition: transform 0.3s ease;
    border-radius: 2ex;
}

.card:hover {
    transform: translateY(-5px);
}

#card-exclude {
    transform: none;
    border-radius: 0%;
}

#timestamp {
    font-size: 80%;
    color: dimgray;
}

.button {
    background-color: white;
    border: none;
}

.post-control {
    border-color: lightgray;
    width: 100%;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.me-3 {
    margin-right: 1rem; /* Adjust as necessary */
}

.mb-0 {
    margin-bottom: 0;
}